.git
.gitignore
.gitmodules
.phpunit.result.cache
.DS_Store
Thumbs.db
.env
.env.backup
.env.production
.phpactor.json
/.codex
/.cursor/
/.claude/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/composer.phar
/docker-compose.yml
/docker-compose.override.yml
/node_modules
/npm-debug.log
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/tests
/vendor
/_ide_helper.php
/Homestead.json
/Homestead.yaml
/array-doctor-results
/session
/vhs
/webpack.mix.js